[Unit]
Description=UnitForHttpEcho
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/srv
ExecStart=/srv/http-echo -listen=localhost:8080 -text="hello for Masha"
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target
